<header class="brawl-header">
  <div class="header-left">
      <img src="https://i.pinimg.com/originals/26/9d/d1/269dd16fa1f5ff51accd09e7e1602267.png" alt="Brawl Stars Logo" class="logo">
      <img src="https://store.supercell.com/_next/static/media/logo.38da3d7b.png" alt="Brawl Stars Logo" class="logo">
      <nav class="nav-menu">
          <h2 class="letra">DATOS INTERESANTES</h2>
          <h2 class="letra">PASES</h2>
          <h2 class="letra">OFERTAS</h2>
      </nav>
  </div>
  <div class="header-right">
      <img src="https://store.supercell.com/_next/static/media/supercell-logo-white.ad1dad43.svg" alt="Supercell Logo" class="supercell-logo">
  </div>
</header>
