<div class="brawl-cards">
    <section class="characters-section">
        <h1 class="characters-title">PERSONAJES</h1>
    </section>
    <div class="container">
        <div class="card">
        <img src="https://cdn.brawlify.com/brawlers/borderless/16000000.png" alt="">
        <div class="contenido">
            <h3>
                SHELLY
            </h3>

            <p>
                Shelly es la guardabosques perfecta: confiable, resistente y excelente con su escopeta.
                 Ella nunca entendió por qué Colt consiguió robarse el protagonismo...
            </p>
            
            
             </div>
         </div>
         
         <div class="card">
            <img src="https://cdn.brawlify.com/brawlers/borderless/16000001.png" alt="">
            <div class="contenido">
                <h3>
                    COLT
                </h3>
                <p>
                    ¡Colt es la atracción estrella en Starr Park! Su buena apariencia,
                     carisma y trucos con armas conquistan a cualquier público, excepto tal vez a Shelly.
                </p>
                
                 </div>
             </div>

             <div class="card">
                <img src="https://cdn.brawlify.com/brawlers/borderless/16000002.png" alt="">
                <div class="contenido">
                    <h3>
                        BULL
                    </h3>
                    <p>
                        Bull no es tan despreocupado como lo era en su juventud,
                         pero sólo porque sus días ruidosos hayan quedado atrás no significa que no seguirá aplastando a alguien que se lo pida.
                    </p>
                    
                     </div>
                 </div>

                 <div class="card">
                    <img src="https://cdn.brawlify.com/brawlers/borderless/16000003.png" alt="">
                    <div class="contenido">
                        <h3>
                            BROCK
                        </h3>
                        <p>
                            Brock es un entusiasta de los videojuegos que habla mal.
                             Su gran actitud esconde una personalidad más introvertida,
                              ¡pero aun así hará lo que sea necesario para ganar!
                        </p>
                        
                         </div>
                     </div>

                     <div class="card">
                        <img src="https://cdn.brawlify.com/brawlers/borderless/16000004.png" alt="">
                        <div class="contenido">
                            <h3>
                                RICO
                            </h3>
                            <p>
                                Rico es definitivamente un verdadero cazarrecompensas espacial que rastrea a los
                                 criminales más buscados de la galaxia, no una máquina de chicles que finge ser genial.
                            </p>
                            
                             </div>
                         </div>

                         <div class="card">
                            <img src="https://cdn.brawlify.com/brawlers/borderless/16000005.png" alt="">
                            <div class="contenido">
                                <h3>
                                    SPIKE
                                </h3>
                                <p>
                                    Rico es definitivamente un verdadero cazarrecompensas espacial que rastrea a los criminales 
                                    más buscados de la galaxia, no una máquina de chicles que finge ser genial.
                                </p>
                                
                                 </div>
                             </div>
    </div>
</div>
